---
import BaseLayout from '../layouts/BaseLayout.astro';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Image } from 'astro:assets';

import ageCalcWebM from '/age-calculator-sm.webm';
import ageCalcMP4 from '/age-calculator-sm.mp4';
import resumeImage from '../assets/resume.png';

import brFmWebM from '/br-fm.webm';
import brFmMP4 from '/br-fm.mp4';
---

<BaseLayout>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      video,
      img {
        margin: 0 auto;
        border: 5px solid;
        border-radius: 3px;
        border-color: var(--accent);
        display: block;
      }

      video.no-border {
        border: none;
      }

      video {
        max-width: 95%;
      }

      img + p,
      video + p {
        text-align: center;
        font-size: 0.9rem;
        font-style: italic;
      }

      /* :has(> video), */
      .video-container {
        width: 100%;
        text-align: center;
        overflow: hidden;
      }

      /* :has(> video) > *, */
      .video-container > * {
        display: block;
      }

      .resume-container {
        /* display: flex;
        align-items: center; */
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>🧑‍🚀 Hello, Astronaut!</h1>
      <p>
        My name is Brian Poblete. I am a frontend developer and UX designer. I
        mainly use <strong>React</strong> and <strong>JavaScript</strong> at
        work but I've been using <strong>SolidJS</strong> and <strong
          >TypeScript</strong
        > for my personal projects.
      </p>
      <p>
        For my most recent work, I augmented components with improved
        accessibility features for ADA compliance. This work is visible on
        websites under the Gap family of brands such as Banana Republic, Old
        Navy, and Athleta. Here's an example:
      </p>

      {/* TODO: Make this a separate component. */}
      <div class='video-container'>
        <video
          autoplay
          muted
          loop
          aria-label='Video demonstrating accessibility features'
          class='no-border'
          width={600}
          height={600}
        >
          <source src={brFmWebM} type='video/webm' />
          <source src={brFmMP4} type='video/mp4' />
          <p>
            Your browser doesn't support HTML5 video. Here is a
            <a
              href={new URL('br-findmine.mp4', Astro.url).toString()}
              aria-label='Link to age calculator video'>link to the video</a
            >instead.
          </p>
        </video>
        <p>Look suggestion component on the Banana Republic website.</p>
      </div>

      <p>
        This website is built with Astro. Most of it is still under development
        but you can check out the
        <a href='/about'>About</a>
         page to learn more about me.
      </p>
      <div class='resume-container'>
        <p>
          My resume is also available on the
          <a href='/resume'>Resume</a>
           page. The page is still under development but the resume is up to
          date!
        </p>
        <a href='/BrianPoblete_resume.pdf' download>
          <Image
            class='resume-img'
            src={resumeImage}
            alt='Brian Poblete - Resume Download'
            width='500'
            height='647'
            loading="eager"
          />
          <p>Click to download resume</p>
        </a>
      </div>
      <p>
        In the meantime, please check out this <a
          href='https://solid-mentor.netlify.app'>other project</a
        > I've been working on. It's a collection of my solutions to various
        challenges from Frontend Mentor built with SolidJS plus a bunch of other
        frameworks and tools. Here's a preview.
      </p>
      <div class='video-container'>
        <video
          autoplay
          muted
          loop
          aria-label='Video demonstrating age calculator component'
        >
          <source src={ageCalcWebM} type='video/webm' />
          <source src={ageCalcMP4} type='video/mp4' />
          <p>
            Your browser doesn't support HTML5 video. Here is a
            <a
              href={new URL('age-calculator-sm.mp4', Astro.url).toString()}
              aria-label='Link to age calculator video'>link to the video</a
            >instead.
          </p>
        </video>
        <p>
          <a href='https://solid-mentor.netlify.app/challenges/agecalculator'
            >Age Calculator
          </a>challenge done with SCSS and the View Transitions API.
        </p>
      </div>
    </main>
    <Footer />
  </body>
</BaseLayout>
