---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';
import '../styles/resume.css';
import { ViewTransitions } from 'astro:transitions';
import type { OGPropsExtra } from '../types';


type Props = {
  title: string;
  image?: string;
  description: string;
  contentType?: string;
  customImageSrc?: string;
  extra?: OGPropsExtra[];
};


const canonicalURL = new URL(Astro.url.pathname, Astro.site);

let {
  title,
  description,
  image,
  contentType = 'website',
  extra = [],
} = Astro.props;

image = image ?? '/og-banner-no-tag.png';
---


<!-- Global Metadata -->
<meta charset='utf-8' />
<meta name='viewport' content='width=device-width,initial-scale=1' />
<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
<meta name='generator' content={Astro.generator} />

<ViewTransitions />

<!-- Font preloads -->
<link
  rel='preload'
  href='/fonts/atkinson_regular.woff'
  as='font'
  type='font/woff'
  crossorigin
/>
<link
  rel='preload'
  href='/fonts/atkinson_bold.woff'
  as='font'
  type='font/woff'
  crossorigin
/>
<link
  rel='preload'
  href='/fonts/space_grotesk.ttf'
  as='font'
  type='font/ttf'
  crossorigin
/>

<!-- Canonical URL -->
<link rel='canonical' href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name='title' content={title} />
<meta name='description' content={description} />

<!-- Extra OG Tags -->
{
  // Placing this above the main OG tags in case overrides are needed
  extra.map(({ property, content, isName = false }) => (
    <meta
      property={isName ? undefined : property}
      content={content}
      name={isName ? property : undefined}
    />
  ))
}

{
  // If any OG tag is property article:author, add a link to the author's profile
  extra.some(({ property }) => property === 'article:author') && (
    <>
      <link rel='author' href='https://github.com/Brian-Pob' />
      <meta property='article:author' content='https://github.com/Brian-Pob' />
    </>
  )
}
{
  // If customImageSrc is provided, use that as the image, otherwise use the default
    <>
      <meta property='og:image' content={new URL(image, Astro.url)} />
      <meta name='twitter:image' content={new URL(image, Astro.url)} />
    </>
}

<!-- Open Graph / Facebook -->
<meta property='og:type' content={contentType} />
<meta property='og:url' content={Astro.url} />
<meta property='og:title' content={title} />
<meta property='og:description' content={description} />
<meta property='og:site_name' content='brianmp.dev' />

<!-- Twitter -->
<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:url' content={Astro.url} />
<meta name='twitter:title' content={title} />
<meta name='twitter:description' content={description} />
